

body{
  font-family: 'Cutive Mono', monospace;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Source Code Pro', monospace;

  h1 {
    font-family: 'Bangers', curive;
    font-size: 52px;
  }

  p {
    font-family: 'Source Code Pro', monospace;
  }

  a{
    text-decoration: none;
    color: rgb(16, 16, 16);
}

  a:hover{
      color: black;
      text-decoration: underline;
  }
  
}

/*** UTILS ***/

.text-details p {
  paddind-left: 20px!important;
}

.title {
  text-align: center;
  margin-top: 20px;
}
/*** BOTTONI ***/

.botton-primary {
  font-family: 'Bangers', curive;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 20px;
  transition: 0.3s;
  border-color: #000;
  border-width: 2px;
}

.botton-primary:hover {
  background-color: #000;
  color: #fff

}

/*** BOX ***/

.rotatelogo{
    animation: rotation 10s infinite linear;
}


.list .questions{
  font-weight: bold;
  font-size: 36px;
  font-family: 'Bangers', curive;
}

.event-details {
  display: flex;
  justify-content: center;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

