body{
  font-family: 'Cutive Mono', monospace;
  font-family: 'Oxygen', sans-serif;
}

.rotatelogo{
    animation: rotation 10s infinite linear;
}

a{
    text-decoration: none;
    color: rgb(16, 16, 16);
}

a:hover{
    color: black;
    text-decoration: underline;
}

.list .questions{
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }