.banner{
    margin-top: 50px;
    position: relative;
    width: 100%;
    background-color: #fcc203;
    overflow: hidden;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;

    p{
        animation: loop 20s linear infinite;
        display: inline-block;
        white-space: nowrap;
        margin: 0;
        padding-left: 100%; 
    }
}
@keyframes loop {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }